<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.SoundBoard.Free"
    android:versionCode="3"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="11"
        	  />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  	<uses-permission android:name="android.permission.RECORD_AUDIO" />
  	<uses-permission android:name="android.permission.VIBRATE" />
    
  	<supports-screens 
  	    android:normalScreens="true"
  	    android:largeScreens="true"
  	    android:xlargeScreens="true"
  	    />
  	
    <application
        android:icon="@drawable/soundboardicon"
        android:label="@string/app_name" 
        android:debuggable="false">
        <activity
            android:name=".SoundBoardActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".PlayActivity"
            android:label="@string/app_name_play"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>    
        </activity>
        
        <activity
            android:name=".EditActivity"
            android:label="@string/app_name_edit"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>    
        </activity>
        
        <activity
            android:name=".SnipperActivity"
            android:label="@string/app_name_snip"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>    
        </activity>
        
         <activity
            android:name=".sdBrowser"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>    
        </activity>
        
         <service android:name="FileBuilderService"
             android:label="@string/app_name"
             android:icon="@drawable/soundboardicon"
             ></service>
         
         <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
         
           
    </application>

</manifest>